---
import LayoutPage from '../layouts/page.astro';
import LayoutProject from '../layouts/projectLayout.astro';

import Header from '../components/header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.svelte';

import Arrow from '../components/Arrow.svelte'

import CursorFollower from '../components/CursorFollower.svelte'
import type { idText } from 'typescript';

const cards = [
	{ title: "Arcania", body: "Dans Arcania transformer votre téléphone en véritable baguette magique et combattez vos amis dans l'arène." ,href: "https://github.com/math-pixel/ARCANIA", thumbnail : "/images/arcania.png",
		techno: [
			{"img" : "/images/languages/html.png"},
			{"img" : "/images/languages/p5.png"},
			{"img" : "/images/languages/nodejs.png"},
			{"img" : "/images/languages/socketio.png"},
		]
	},
	{ title: "Masaru's Adventure", body: "Aidez Masaru à retrouver le shamizen sacré pour sauvez l'île de Kyushu. " ,href: "https://github.com/math-pixel/Masarus-Adventure", thumbnail : "/images/masarus.png",
		techno: [
			{"img" : "/images/languages/html.png"},
			{"img" : "/images/languages/p5.png"},
			{"img" : "/images/languages/js.png"},
			{"img" : "/images/languages/css.png"}
		]
	},
	{ title: "Imprimante 3D", body: "En quête de savoir, j'ai voulu construire moi-même une imprimante 3D afin de connaître les moindres détails de ces machines." ,href: "", thumbnail : "/images/3dprint.png",
		techno: [
			{"img" : "/images/languages/rpi.png"},
			{"img" : "/images/languages/octo.png"},
			{"img" : "/images/languages/ia.png"},
			{"img" : "/images/languages/tool.png"},
		]
	},
	{ title: "Reveil Intelligent", body: "Allo Jarvis ? Réveil à 8h demain ! Un réveil fabriqué en python, boosté à l'IA et structuré en POO (Programmation Orienter Objet)." ,href: "https://github.com/IlanOu/Reveil", thumbnail : "/images/clock.png",
		techno: [
			{"img" : "/images/languages/rpi.png"},
			{"img" : "/images/languages/python.png"},
			{"img" : "/images/languages/ia.png"}
		]
	},{ title: "Photo Party", body: "Cheeez ! Photo Party est une application de soirée pour partager ses photos. Le principe est simple : tu prends une photos sur ton téléphone, via une app web puis tu admires ta photo et celles de tes amis sur le vidéo projecteur de la soirée !" ,href: "https://github.com/math-pixel/Photo-Party", thumbnail : "/images/photo party.png",
		techno: [
			{"img" : "/images/languages/html.png"},
			{"img" : "/images/languages/nodejs.png"},
			{"img" : "/images/languages/socketio.png"},
			{"img" : "/images/languages/sql.svg"},
		]
	}
]
---
<LayoutPage title="Mathieu Chavanel - Portfolio" >
	<!-- <CursorFollower client:load ></CursorFollower> -->
	<Header title={["Accueil", "Projets", "Contact"]} href={["/", "/#projectHighlight", "/#contact"]}></Header>
	<div id="home" class=" flex w-full h-screen flex-col-reverse max-md:content-center max-md:h-fit">

		<div class="  absolute left-[5%] top-[30%] flex flex-col overflow-visible max-md:relative max-md:overflow-hidden">
			<h1 class="text-7xl font-semibold max-md:text-5xl">Mathieu Chavanel</h1>
			<h2 class="text-5xl font-light max-md:text-3xl"> Développeur Créatif</h2>
			<p class="text-2xl font-thin mt-8 max-w-[68%] max-md:max-w-[95%] ">
				Salut ! Je suis un développeur passionné et surtout curieux du monde monde qui nous entoure. 
				<br>J'adore me lancer de nouveaux défis et apprendre de nouvelle compétences !
				<br>Et quand je ne code pas, vous me trouverez probablement en train de faire du sport, de bricoler ou de jouer au dernier jeu vidéo !
				<br>
				<br>
				Pour me résumer en 3 mots : <mark class=" bg-[#FFF8D6] px-[10px] py-[4px] rounded-lg "><b>Curieux</b></mark> <mark class=" bg-[#E3FFD6] px-[10px] py-[4px] rounded-lg "><b>Manuel</b></mark> <mark class=" bg-[#F4D6FF] px-[10px] py-[4px] rounded-lg "><b>Persévérant</b></mark>
			</p>
		</div>
		
		
		<!-- <a href="" class=" absolute bottom-[10%] left-1/2">arrow</a> -->
		<div class="absolute right-[5%] top-[20%] overflow-visible z-[-1]">

			<img src="/images/prof.png" alt="image profile" class=" object-cover rounded-[100%] w-[450px] max-md:hidden">

			<div class="bg-[#BCFFF7] absolute left-[5%] top-[80%] rounded-[10px] -rotate-[7deg] max-md:hidden">
				<p class="font-normal text-[30px] py-[8px] px-[16px] whitespace-nowrap max-md:text-[20px]">À la recherche d'une alternance</p>
			</div>
		</div>

		<div class="absolute -bottom-[10%] left-0 w-full flex justify-center max-md:hidden">
			<Arrow client:only="svelte"/>
		</div>
	</div>

	<h1 id="projectHighlight" class=" w-full my-[5%] font-black text-6xl text-center max-md:text-5xl">Projets à la une</h1>
	
	<div class="overflow-visible flex w-full flex-wrap justify-center">
		
		{cards.map(currentCard => (
			<Card title={currentCard.title} description={currentCard.body} href={currentCard.href} thumbnail={currentCard.thumbnail} techno={currentCard.techno}></Card>
		))}
	</div>

	<!-- <h1 class=" w-full my-[5%] font-black text-6xl text-center">Contact</h1> -->
	
	<div id="contact" class="mt-40 global-color m-auto overflow-visible w-full h-[20vh] flex justify-evenly items-center relative max-md:h-fit max-md:overflow-x-hidden">

		<!-- <img src="/images/Nice-05.jpg" alt="" class="w-auto h-[60%] rounded-[16px] max-md:hidden"> -->


		<div class=" w-[40%] flex justify-around overflow-visible max-md:w-full max-md:h-fit max-md:m-1	0">
			
			<a href="https://github.com/math-pixel" target="_blank" class=" flex">
				<img alt="icon de github" src="/images/icons/github.png" class=" w-[100%]">
				<!-- <h1 class=" m-6 my-auto font-medium text-5xl text-center">GitHub</h1> -->
			</a>

			<a href="mailto:mathcb74@gmail.com" target="_blank" class=" flex">
				<img alt="icon de mail" src="/images/icons/mail.png" class=" w-[100%]">
				<!-- <h1 class=" m-6  my-auto font-medium text-5xl text-center">Mail</h1> -->
			</a>

			<a href="https://www.linkedin.com/in/mathieu-chavanel-50488b251/" target="_blank" class=" flex">
				<img alt="icon de linkedin" src="/images/icons/linkedin.png" class=" w-[100%]">
				<!-- <h1 class=" m-6  my-auto font-medium text-5xl text-center">Linkedin</h1> -->
			</a>

		</div>


	</div>

</LayoutPage>

<style is:global>
	@view-transition {
	  navigation: auto; /* enabled! */
	}

	html{
		scroll-behavior: smooth;
	}

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base{
		@font-face {
			font-family: 'RubikFont';
			src: url("");
		}
	}

	@layer components {
		.global-color{
			background-color: #f7f5f2;
		}

		.text-hover{
			text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.677);
		}

	}

	div{
		overflow-x: hidden;
	}

</style>