---
import LayoutPage from '../layouts/page.astro';
import LayoutProject from '../layouts/projectLayout.astro';

import Header from '../components/header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.svelte';

import Arrow from '../components/Arrow.svelte'

import CursorFollower from '../components/CursorFollower.svelte'

const cards = [
	{ title: "Arcania", body: "Dans Arcania transformer votre telephone en veritable baguette magique et combattez vos amies dans l'arene" ,href: "https://github.com/math-pixel/ARCANIA", thumbnail : "/images/arcania.png",
		techno: [
			{"img" : "/images/languages/html.png"},
			{"img" : "/images/languages/p5.png"},
			{"img" : "/images/languages/nodejs.png"},
			{"img" : "/images/languages/socketio.png"},
		]
	},
	{ title: "Masaru's Adventure", body: "Aidez Masarus à retrouver le shamizen sacré pour sauvez l'île de Kyushu. " ,href: "https://github.com/math-pixel/Masarus-Adventure", thumbnail : "/images/masarus.png",
		techno: [
			{"img" : "/images/languages/html.png"},
			{"img" : "/images/languages/p5.png"},
			{"img" : "/images/languages/js.png"},
			{"img" : "/images/languages/css.png"}
		]
	},
	{ title: "Imprimante 3D", body: "En quêtes de savoir, j'ai voulue construire moi meme une imprimante 3D pour connaitre les moindres details de ces machines" ,href: "", thumbnail : "/images/3dprint.png",
		techno: [
			{"img" : "/images/languages/rpi.png"},
			{"img" : "/images/languages/octo.png"},
			{"img" : "/images/languages/ia.png"},
			{"img" : "/images/languages/tool.png"},
		]
	},
	{ title: "Reveil Intelligent", body: "Allo Jarvis ? Reveil 8H demain ! Un reveil fabriquer en python booster a l'ia et structure grace a de la POO " ,href: "", thumbnail : "/images/clock.png",
		techno: [
			{"img" : "/images/languages/rpi.png"},
			{"img" : "/images/languages/python.png"},
			{"img" : "/images/languages/ia.png"}
		]
	},{ title: "Photo Party", body: "Cheeez ! Photo Party est une application de soiree pour partager ses photos \n Le principe est simple. Tu prend une photos sur ton telephone via une app web puis tu admires ta photos et celle de tes amis sur le video projecteur de la soiree ! " ,href: "", thumbnail : "/images/photo party.png",
		techno: [
			{"img" : "/images/languages/html.png"},
			{"img" : "/images/languages/nodejs.png"},
			{"img" : "/images/languages/socketio.png"},
			{"img" : "/images/languages/sql.svg"},
		]
	}
	// { title: "2D Printer", body: "yey" ,href: "" },
	// { title: "1D Printer", body: "null" ,href: "" }
]
---

<LayoutPage title="Mathieu Chavanel - Portfolio">
	<CursorFollower client:load></CursorFollower>
	<Header title={["Accueil", "Projets", "Contact"]} href={["/", "/#projectHighlight", "/#contact"]}></Header>
	<div id="home" class=" flex w-full h-screen ">

		<div class="  absolute left-[5%] top-[30%] flex flex-col overflow-visible">
			<h1 class="text-7xl font-semibold ">Mathieu Chavanel</h1>
			<h2 class="text-5xl font-light">Developpeur Creatif</h2>
			<p class="text-2xl font-thin mt-8 max-w-[68%]">
				Salut ! Je suis un développeur passionné et surtout curieux sur le monde qui nous entoure. 
				<br>J'adore me lancer des nouveaux défis et apprendre de nouvelle compétences !
				<br>Et quand je ne code pas, vous me trouverez probablement en train de faire du sport, de bricoler ou de jouer au dernier jeu vidéo !
				<br>
				<br>
				Pour me résumer en 3 mots : <mark class=" bg-[#FFF8D6] px-[10px] py-[4px] rounded-lg "><b>Curieux</b></mark> <mark class=" bg-[#E3FFD6] px-[10px] py-[4px] rounded-lg "><b>Manuel</b></mark> <mark class=" bg-[#F4D6FF] px-[10px] py-[4px] rounded-lg "><b>Persévérant</b></mark>
			</p>
		</div>
		
		
		<!-- <a href="" class=" absolute bottom-[10%] left-1/2">arrow</a> -->
		<div class="absolute right-[5%] top-[20%] overflow-visible">

			<img src="/images/avatar.png" alt="image profile" class=" w-[450px]">

			<div class="bg-[#BCFFF7] absolute left-[5%] top-[80%] rounded-[10px] -rotate-[7deg] ">
				<p class="font-normal text-[30px] py-[8px] px-[16px] whitespace-nowrap">A la recherche d'une alternance</p>
			</div>
		</div>

		<div class="absolute -bottom-[10%] left-0 w-full flex justify-center">
			<Arrow client:only="svelte"/>
		</div>
	</div>

	<h1 id="projectHighlight" class=" w-full my-[5%] font-black text-6xl text-center">Projets à la une !</h1>
	
	<div class="overflow-visible flex w-full flex-wrap justify-center">
		
		{cards.map(currentCard => (
			<Card title={currentCard.title} description={currentCard.body} href={currentCard.href} thumbnail={currentCard.thumbnail} techno={currentCard.techno}></Card>
		))}
	</div>

	<h1 class=" w-full my-[5%] font-black text-6xl text-center">Contact</h1>
	
	<div id="contact" class="overflow-visible w-full h-screen  relative">

		<div class=" w-[40%] ml-[40%] h-full flex flex-col justify-center overflow-visible">
			
			<a href="https://github.com/math-pixel" class=" flex">
				<img alt="icon de github" src="/images/github icon.png" class=" w-[20%]">
				<h1 class=" m-6 my-auto font-medium text-5xl text-center">GitHub</h1>
			</a>

			<a href="mailto:mathcb74@gmail.com" class=" flex">
				<img alt="icon de mail" src="/images/mail icon.png" class=" w-[20%]">
				<h1 class=" m-6  my-auto font-medium text-5xl text-center">Mail</h1>
			</a>

			<a href="https://www.linkedin.com/in/mathieu-chavanel-50488b251/" class=" flex">
				<img alt="icon de linkedin" src="/images/linkedin icon.png" class=" w-[20%]">
				<h1 class=" m-6  my-auto font-medium text-5xl text-center">Linkedin</h1>
			</a>

		</div>

		<img src="/images/toto.png" alt="" class="w-[20%] absolute top-[2%] left-[8%] rounded-[16px]">
		<img src="/images/photographie.png" alt="" class="w-[20%] absolute bottom-[2%] right-[8%] rounded-[16px]">

	</div>

</LayoutPage>

<style is:global>
	@view-transition {
	  navigation: auto; /* enabled! */
	}

	html{
		scroll-behavior: smooth;
	}

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base{
		@font-face {
			font-family: 'RubikFont';
			src: url("");
		}
	}

	@layer components {
		.global-color{
			background-color: #f7f5f2;
		}

		.text-hover{
			text-shadow: 0px 0px 1px black;
		}

	}

	div{
		overflow-x: hidden;
	}

</style>