---
import LayoutPage from '../layouts/page.astro';
import LayoutProject from '../layouts/projectLayout.astro';

import Header from '../components/header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.svelte';

import Arrow from '../components/Arrow.svelte'

const cards = [
	{ title: "3D Printer", body: "yay" ,href: "", thumbnail : "/images/toto.png",
		techno: [
			{"img" : "/images/profile.png"},
			{"img" : "/images/profile.png"}
		]
	},
	{ title: "3D Printer", body: "yay" ,href: "", thumbnail : "/images/toto.png",
		techno: [
			{"img" : "/images/profile.png"},
			{"img" : "/images/profile.png"},
			{"img" : "/images/profile.png"}
		]
	},
	{ title: "3D Printer", body: "yay" ,href: "", thumbnail : "/images/toto.png",
		techno: [
			{"img" : "/images/profile.png"},
			{"img" : "/images/profile.png"},
			{"img" : "/images/profile.png"}
		]
	},
	// { title: "2D Printer", body: "yey" ,href: "" },
	// { title: "1D Printer", body: "null" ,href: "" }
]
---

<LayoutPage title="test">
	<Header title={["Accueil", "Projets", "Contact"]} href={["/", "/projets", "/#contact"]}></Header>
	<div id="home" class=" flex w-full h-screen typo-rubik">

		<div class="  absolute left-[10%] top-[30%] flex flex-col">
			<h1 class="text-7xl font-semibold ">Mathieu Chavanel</h1>
			<h2 class="text-5xl font-light">Developpeur Creatif</h2>
			<p class="text-2xl font-thin">Description</p>
		</div>

		
		
		<!-- <a href="" class=" absolute bottom-[10%] left-1/2">arrow</a> -->
		<div class="absolute right-[10%] top-[20%] overflow-visible">

			<img src="/images/profile.png" alt="image profile" class="">

			<div class="bg-[#BCFFF7] absolute left-[0%] top-[80%] rounded-[10px] -rotate-[5deg]">
				<p class="font-normal text-[30px] py-[8px] px-[16px] whitespace-nowrap">A la recherche d'une alternance</p>
			</div>
		</div>

		<div class="absolute -bottom-[10%] left-0 w-full flex justify-center">
			<Arrow client:only="svelte"/>
		</div>
	</div>

	<div id="projectHighlight" class="overflow-visible flex w-full h-screen typo-rubik flex-wrap justify-around">
		{cards.map(currentCard => (
			<Card title={currentCard.title} description={currentCard.body} href={currentCard.href} thumbnail={currentCard.thumbnail} techno={currentCard.techno}></Card>
		))}
	</div>
	
	<div id="contact">
	</div>

</LayoutPage>

<style is:global>
	@view-transition {
	  navigation: auto; /* enabled! */
	}

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.typo-rubik {
			font-family: 'Rubik';
		}
		.global-color{
			background-color: #CFE9FF;
		}

	}

	div{
		overflow-x: hidden;
	}

</style>