---
interface Props {
	title: string;
	description: string;
	href: string;
	thumbnail: string;
	techno : object[];
}

const { href, title, description, thumbnail, techno } = Astro.props;
// console.log(JSON.parse( JSON.stringify(techno[0])).img )
// {techno.map((element : any) => {
// 		console.log(element.name )
// 		})}
---

<a href={href}>
	<img src={thumbnail} alt="">
	<h2>{title}</h2>
	<p>{description}</p>
	{techno.map((element) => {
		<p>{element}</p>
		<h1>{element}</h1>
	})}
</a >
